<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <script>
        function sendmail() {
            var username=$("#username").val()
            $.ajax({
                url:"/forget/sendmail",
                type:"POST",
                data:{"username":username},
                success:function (data) {
                    
                }

            })

        }
    </script>
</head>
<body>
    <h1>忘记密码！</h1>
    <table>
        <tr>
            <td>账号:</td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" onclick="sendmail()">找回密码</button></td>
        </tr>
    </table>



</body>
</html>